<h1>All Contacts</h1>

<ul>
	<% @contacts.each do |contact| %>
	<a href="/contacts/<%= contact.id %>">
		<li><%= contact.first_name %> <%= contact.last_name %></li> <!-- the link is being wrapped around the first_name and last_name -->
	</a>
	<% end %>
</ul>
