	<div id="navcontainer">
	<ul>
		<li><a style= "display:none;" href="/contacts">View all contacts</a></li>
		<li><a style= "display:none;" href="/contacts/new">Create new contact</a></li>
	</ul>
	</div>