<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/style.css">
  	<title> Ruben's Crm App </title>
  		<header> <h1>Ruben's Crm App</h1></header>
  		<nav>
  		<a href="/">
        	<img src="http://craigmart.in/wp-content/themes/wp_craigmart.in/assets/img/crm-logo4.png"/>
  		</a>
  			
  		</nav>
  </head>
  
  <body>

    <%= yield %>
  </body>
  <footer> <h5>&copy; Bitmaker Labs - Ruben Avila</h5></footer>
</html>